#!/usr/bin/env python2
# -*- coding: utf-8 -*-
"""
Created on Wed Apr 24 20:44:30 2019

@author: Siwei
"""

        <option value="{'code':'0976160D','desc': 'NONCOMPLIANT PLATE(S)'}">NONCOMPLIANT PLATE(S)</option>
        <option value="{'code':'0912060','desc': 'STAND, PARK, OR OTHER USE OF BUS LANE'}">STAND, PARK, OR OTHER USE OF BUS LANE</option>
        <option value="{'code':'0964060','desc': '3-7 AM SNOW ROUTE'}">3-7 AM SNOW ROUTE</option>
        <option value="{'code':'0964130A','desc': 'PARK ALLEY'}">PARK ALLEY</option>
        <option value="{'code':'0964160B','desc': 'CURB LOADING ZONE'}">CURB LOADING ZONE</option>
        <option value="{'code':'0964190A','desc': 'EXP. METER NON-CENTRAL BUSINESS DISTRICT'}">EXP. METER NON-CENTRAL BUSINESS DISTRICT</option>
        <option value="{'code':'0976180A','desc': 'SAFETY BELTS REQUIRED'}">SAFETY BELTS REQUIRED</option>
        <option value="{'code':'0980110A','desc': 'ABANDONED VEH. FOR 7 DAYS OR INOPERABLE'}">ABANDONED VEH. FOR 7 DAYS OR INOPERABLE</option>
        <option value="{'code':'0964100G','desc': 'STOP SIGN OR TRAFFIC SIGNAL'}">STOP SIGN OR TRAFFIC SIGNAL</option>
        <option value="{'code':'0964020B','desc': 'OBSTRUCT ROADWAY'}">OBSTRUCT ROADWAY</option>
        <option value="{'code':'0976210B','desc': 'WINDOWS MISSING OR CRACKED BEYOND 6'}">WINDOWS MISSING OR CRACKED BEYOND 6</option>
        <option value="{'code':'0964110D','desc': 'PARK OR STAND ON SIDEWALK'}">PARK OR STAND ON SIDEWALK</option>
        <option value="{'code':'0964020A','desc': 'WRONG DIRECTION OR 12 INCHES FROM CURB'}">WRONG DIRECTION OR 12 INCHES FROM CURB</option>
        <option value="{'code':'0976050B','desc': 'TWO HEAD LAMPS REQUIRED VISIBLE 1000 FEET'}">TWO HEAD LAMPS REQUIRED VISIBLE 1000 FEET</option>
        <option value="{'code':'0980110B','desc': 'HAZARDOUS DILAPITATED VEHICLE'}">HAZARDOUS DILAPITATED VEHICLE</option>
        <option value="{'code':'0964200B','desc': 'PARK OUTSIDE METERED SPACE'}">PARK OUTSIDE METERED SPACE</option>
        <option value="{'code':'0976220A','desc': 'OBSTRUCTED OR IMPROPERLY TINTED WINDOWS'}">OBSTRUCTED OR IMPROPERLY TINTED WINDOWS</option>  