<form method="POST">
    <select name="violationcode">
        <option value="0976160F">EXPIRED PLATES OR TEMPORARY REGISTRATION</option>
        <option value="0964150B">PARKING/STANDING PROHIBITED ANYTIME</option>
        <option value="0964040B">STREET CLEANING</option>
        <option value="0964080A">RUSH HOUR PARKING</option>
        <option value="0964090E">RESIDENTIAL PERMIT PARKING</option>
        <option value="0964125B">NO CITY STICKER VEHICLE UNDER/EQUAL TO 16,000 LBS.</option>
        <option value="0976160A">REAR AND FRONT PLATE REQUIRED</option>
        <option value="0964125">NO CITY STICKER OR IMPROPER DISPLAY</option>
        <option value="0964080B">NO STANDING/PARKING TIME RESTRICTED</option>
        <option value="0964190">EXPIRED METER OR OVERSTAY</option>
        <option value="0964140B">PARK OR STAND IN BUS/TAXI/CARRIAGE STAND</option>
        <option value="0964100A">WITHIN 15' OF FIRE HYDRANT</option>
        <option value="0964110A">DOUBLE PARKING OR STANDING</option>
        <option value="0976220B">SMOKED/TINTED WINDOWS PARKED/STANDING</option>
        <option value="0976160B">EXPIRED PLATE OR TEMPORARY REGISTRATION</option>
        <option value="0964050J">DISABLED PARKING ZONE</option>
        <option value="0964130">PARK OR BLOCK ALLEY</option>
        <option value="0964110C">PARK OR STAND ON CROSSWALK</option>
        <option value="0964190B">EXPIRED METER CENTRAL BUSINESS DISTRICT</option>
        <option value="0964100C">BLOCK ACCESS/ALLEY/DRIVEWAY/FIRELANE</option>
        <option value="0976160D">NONCOMPLIANT PLATE(S)</option>
        <option value="0912060">STAND, PARK, OR OTHER USE OF BUS LANE</option>
        <option value="0964060">3-7 AM SNOW ROUTE</option>
        <option value="0964130A">PARK ALLEY</option>
        <option value="0964160B">CURB LOADING ZONE</option>
        <option value="0964190A">EXP. METER NON-CENTRAL BUSINESS DISTRICT</option>
        <option value="0976180A">SAFETY BELTS REQUIRED</option>
        <option value="0980110A">ABANDONED VEH. FOR 7 DAYS OR INOPERABLE</option>
        <option value="0964100G">STOP SIGN OR TRAFFIC SIGNAL</option>
        <option value="0964020B">OBSTRUCT ROADWAY</option>
        <option value="0976210B">WINDOWS MISSING OR CRACKED BEYOND 6</option>
        <option value="0964110D">PARK OR STAND ON SIDEWALK</option>
        <option value="0964020A">WRONG DIRECTION OR 12'' FROM CURB</option>
        <option value="0976050B">TWO HEAD LAMPS REQUIRED VISIBLE 1000'</option>
        <option value="0980110B">HAZARDOUS DILAPITATED VEHICLE</option>
        <option value="0964200B">PARK OUTSIDE METERED SPACE</option>
        <option value="0976220A">OBSTRUCTED OR IMPROPERLY TINTED WINDOWS</option>        
    </select>
    <input type="submit">
</form>