<!doctype html>
<title>Detecting Bias in Chicago Parking Tickets</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style_lulu.css')}}'>
<div class=page>
<form method="POST">
<p> Please select the <b>independent variable</b>, the <b>parking violation category</b>, and the <b>minimum number of observations per zipcode</b> from the menu below. </p>
<p>This application will regress <strong>average ticket fines by zip code</strong> on the independent variable and plot the predicted curve with the underlying data. </p>

<p> Independent variable(s): <select name="groupmetric">
    <option value="{'code':'proportion_black','desc': 'Proportion of Black Population of Zip Code'}">Proportion of black population (with fitted curve)</option>
    <option value="{'code':'log_income','desc': 'Median Income of Zip Code'}">Median income (with fitted curve)</option>
    <option value="{'code':'both','desc': 'Proprtion of Black Population and Median Income of Zip Code'}">Both</option>
        </select>
</p>


<p>
    Violation Type: <select name="violationcode">
        <option value="{'code':'0976160F','desc': 'Expired Plates or Temporary Registration'}">Expired Plates or Temporary Registration</option>
        <option value="{'code':'0964150B','desc': 'Parking/Standing Prohibited Anytime'}">Parking/Standing Prohibited Anytime</option>
        <option value="{'code':'0964040B','desc': 'Street Cleaning'}">Street Cleaning</option>
        <option value="{'code':'0964080A','desc': 'Rush Hour Parking'}">Rush Hour Parking</option>
        <option value="{'code':'0964090E','desc': 'Residential Permit Parking'}">Residential Permit Parking</option>
        <option value="{'code':'0976160A','desc': 'Rear and Front Plate Required'}">Rear and Front Plate Required</option>
        <option value="{'code':'0964080B','desc': 'No Standing/Parking Time Restricted'}">No Standing/Parking Time Restricted</option>
        <option value="{'code':'0964140B','desc': 'Park or Stand in Bus/Taxi/Carriage Stand'}">Park or Stand in Bus/Taxi/Carriage Stand</option>
        <option value="{'code':'0964100A','desc': 'Within 15 Feet of Fire Hydrant'}">Within 15 Feet of Fire Hydrant</option>
        <option value="{'code':'0976220B','desc': 'Smoked/Tinted Windows Parked/Standing'}">Smoked/Tinted Windows Parked/Standing</option>     
    </select>
</p>

      <p>
    # Observations Lower Bound: <input type='text' name='cutoff1' value = '100' />
      </p>

    <input type="submit">
</form>

</div>